<%- include('../layout/admin/header.ejs')%>
  <%- include('../layout/admin/navbar.ejs')%>
    <%- include('../layout/admin/sidebar.ejs')%>

      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Category</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Product List</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->


        <a href='/admin/category/addcategory'>
          <button type="button" class="btn btn-outline-primary"> Add category</button>
        </a>


        <table class="table" id="productTables">
          <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% categoryData.forEach((x,index)=>{ %>
              <tr>
                <th scope="row">
                  <%= index+1 %>
                </th>
                <td>
                  <%= x.category %>
                </td>
                <td class="truncate">
                  <%= x.description %>
                </td>
                <td>
                  <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                      href="/admin/category/editcategory/<%=x._id %>">Edit</a></button>
                  <!-- <button class="btn btn-primary"><a class="text-decoration-none text-white"
                      href="/admin/category/deletecategory/<%= x._id %>">Delete</a></button> -->



                  <a class="text-decoration-none text-white" href="/admin/category/unlist/<%=x._id %>">
                    <% if(x.unlist==true){ %>
                      <button type="button" class="btn btn-warning">list</button>
                      <% } else {%>
                        <button type="button" class="btn btn-warning">unlist </button>
                        <%}%>
                  </a>
                </td>

              </tr>
              <% }); %>
          </tbody>
        </table>
      </main><!-- End #main -->



      <script>
        $(document).ready( function () {
        $('#productTables').DataTable();
    } );
    </script>

      <%- include('../layout/admin/footer.ejs')%>