<%- include('../layout/admin/header.ejs')%>
<%- include('../layout/admin/navbar.ejs')%>
<%- include('../layout/admin/sidebar.ejs')%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

               

                <div class="card-body">
                  <h5 class="card-title"> Total Sales</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6> <%=countsales%></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Revenue </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=toatalrevenue[0]?.revenue%></h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                

                <div class="card-body">
                  <h5 class="card-title">Customers </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=countusers%></h6>
                 

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

               
                <div class="card-body">
                  <section>
                    <div class="row">
                      <h1>Sales</h1>
                      <div class="col-lg-12">
                    <canvas id="myChartsales" style="width:100%;max-width:900px"></canvas>
                  </div>
                 
                  </div>
                  </section>

                </div>
                <script>
                  var xValues = ["<%=date[0]%>","<%=date[1]%>","<%=date[2]%>","<%=date[3]%>","<%=date[4]%>","<%=date[5]%>","<%=date[6]%>"];
                  
                  new Chart("myChartsales", {
                    type: "line",
                    data: {
                      labels: xValues,
                      datasets: [ { 
                        data: ["<%=sales[0]%>","<%=sales[1]%>","<%=sales[2]%>","<%=sales[3]%>","<%=sales[4]%>","<%=sales[5]%>","<%=sales[6]%>"],
                        borderColor: "green",
                        fill: false
                      }]
                    },
                    options: {
                      legend: {display: false}
                    }
                  });
                  </script>

                </div>

              </div>
            </div><!-- End Reports -->

         

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

               

                <div class="card-body pb-0">
                  <h5 class="card-title">Top  5 Selling </h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                    </thead>
                    <tbody>
                      <% findProduct.forEach(element => {%>
                                  
                      <% element.forEach((data,index  )=> {%>
                          
                        <tr>                      
                        <td><%=data.productName%></td>
                        <td><%=data.price%></td>                         
                      </tr> 
                   
                     <% }); %> 
                      <%}); %>
                    </tbody>
                  </table>

                </div>

              </div>

          </div>
        </div><!-- End Left side columns -->


          <!-- Recent Activity -->
          <div class="card">
            <div class="card-body">
              <div class="activity">
                <div class="row">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Payment Method</h5>
                        <!-- Pie Chart -->
                        <canvas id="pieChart" style="max-height: 400px;"></canvas>
                  </div>
                  <!-- </div> -->
                  </div> 
              </div>
            </div>
          </div><!-- End Recent Activity -->

        
          <div class="card">
          
            </div>

            <div class="card-body pb-0">
      
         <div class="card">
          <div class="card-body">
            <h5 class="card-title">Category Wise Sales</h5>
      <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
      </div>
    </div>

</div>
            </div>
          </div><!-- End Budget Report -->

         

         

        </div><!-- End Right side columns -->

      </div>
    </section>
   
<input type="hidden" value="">


      <script>
        const COD = `<%-JSON.stringify(COD)%>`;
        const UPI = `<%- JSON.stringify(UPI)%>`;
        const WALLET = `<%- JSON.stringify(WALLET)%>`;

        document.addEventListener("DOMContentLoaded", () => {
          new Chart(document.querySelector('#pieChart'), {
            type: 'pie',
            data: {
              labels: [
                'COD',
                'UPI',
                'WALLET'
              ],
              datasets: [{
                label: 'Payment Method',
                data: [COD, UPI, WALLET],
                backgroundColor: [
                  'rgb(99, 62, 187)',
                  'rgb(255, 166, 0)',
                  'rgb(255, 99, 97)'
                ],
                hoverOffset: 4
              }]
            }
          });
        });
      </script>
    

      <script>
        const count = <%-JSON.stringify(count)%>;
        const categoryName= <%-JSON.stringify(categoryName)%>;
        
        console.log(categoryName);
        document.addEventListener("DOMContentLoaded", () => {
          new Chart(document.querySelector('#doughnutChart'), {
            type: 'doughnut',
            data: {
              labels: categoryName,
              datasets: [{
                label: 'My First Dataset',
                data: count,
                backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
              }]
            }
          });
        });
      </script>
    



  </main><!-- End #main -->



  <%- include('../layout/admin/footer.ejs')%>