<%- include('../layout/admin/header.ejs')%>
<%- include('../layout/admin/navbar.ejs')%>
<%- include('../layout/admin/sidebar.ejs')%>


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Edit Product</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Edit Product</li>
      </ol>
    </nav>
  </div>
  <form method="post" >
    <div class="form-group">
      <label for="formGroupExampleInput"> Product</label>
      <input type="text" name="productName" class="form-control" id="formGroupExampleInput" placeholder="Enter Product Name"  value="<%=sendproduct.productName%>" required>
    </div>
    <label for="">Category</label>
    <select class="form-control" name="category" palceholder="Select Category">
      <option value="<%=sendproduct.category._id %>"><%= sendproduct.category.category%></option>
      <% sendcategory.forEach(element => { %>
        <option value="<%=element._id %>"> <%= element.category %></option>         
    <%  }); %>
    </select>
    <div class="form-group">
      <label for="formGroupExampleInput2"> Description</label>
      <input  type="text" name="description" class="form-control" id="formGroupExampleInput2" placeholder="Enter Stock" value="<%=sendproduct.description%>" required>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2"> Stock</label>
      <input type="text" name="stock" class="form-control" id="formGroupExampleInput2" placeholder="Enter Stock" value="<%=sendproduct.stock%>" required>
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2"> Price</label>
      <input  type="text" name="price" class="form-control" id="formGroupExampleInput2" placeholder="Enter Price" value="<%=sendproduct.price%>" required>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2"> </label>
     
      <!-- Button trigger modal -->



      <div class="mt-3">
        <% sendproduct.image.forEach(element => { %>
              <img src="/images/<%= element  %>" alt="" width="50px" height="50px">   
      <%  }); %>
           <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Edit image
</button>
      </div>
 
    </div>
    <button type="submit" class="btn btn-primary mb-2 mt-3">Submit</button>
  </form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        
      </div>
        <form action="/admin/doEditImage/<%=sendproduct._id %>" enctype="multipart/form-data" method="post"> 
      <div class="modal-body">
          
          <input multiple type="file" name="image" class="form-control" id="formGroupExampleInput2" accept="image/*" required >
        
      </div>
 
      
      <div class="mt-3">
        <% sendproduct.image.forEach(element => { %>
            <div>
              <img src="/images/<%= element  %>" alt="" width="80px" height="70px">  
              <button  class="btn btn-danger"><a style="text-decoration: none;color: blanchedalmond;" href="/admin/deleteimg/<%= element %>/<%= sendproduct._id %>">Delete</a> </button> 
            </div>  
      <%  }); %>


      <div class="modal-footer">
        
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>  
    </form>
    </div>
  </div>
</div>
</main>




<%- include('../layout/admin/footer.ejs')%>