<%- include ('../layout/user/header.ejs') %>
	<%- include ('../layout/user/navbar.ejs') %>


	


		<div class="mt-5 ">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-5">
						<div>




							<div class="Small-container single-product">
								<div class="row">
									<div class="col-2">
										<div class="img-magnifier-container">
											<img style="width: 400px;" src="/images/<%=data.image[0] %>" width="100%" id="productimg">
										</div>


										<div class="small-img-row">
											<div class="small-img-col">
												<img style="width: 100px;" class="small-img" src="/images/<%= data.image[0] %>" width="100%">
											</div>
											<div class="small-img-col">
												<img style="width: 100px;" class="small-img" src="/images/<%= data.image[1] %>" width="100%">
											</div>
											<div class="small-img-col">
												<img style="width: 100px;" class="small-img" src="/images/<%= data.image[2] %>" width="100%">
											</div>
											<div class="small-img-col">
												<img style="width: 100px;" class="small-img" src="/images/<%= data.image[3] %>" width="100%">
											</div>
										</div>
									</div>
								</div>
							</div>



						</div>
					</div>
					<div class="col-sm-4 ml-5 ">
						<div class="product-desc">
							<h3 style="font-weight: bold;font-size: 45px;font-style: italic;">
								<%=Product.productName %>
							</h3>
							<p class="price">
								<span style="font-weight: bold;">₹<%=Product.price %></span>
								<span class="rate">
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-half"></i>
									(74 Rating)
								</span>
							</p>
							<p style="font-size: medium; font-weight: bold;"><%=Product.description%>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
								One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World
								of Grammar.</p>
								<% if(Product.stock!=0) {%>
								<button style="float:left ;" type="button" class="btn btn-success  "
                        onclick="tocart('<%=Product._id%>','<%=Product.price%>')">Add to Cart</a></button>

                      <button style="float:left ;" type="button" class="btn btn-warning "  onclick="towishlist('<%=Product._id%>','<%=Product.price%>')">
                        <a style="color: white;">Wish List</a></button>
												<%}else{%>
													<button style="float:left ;" type="button" class="btn btn-danger  "
													> Out of Stock</a></button>
	
												<button style="float:left ;" type="button" class="btn btn-warning "  onclick="towishlist('<%=Product._id%>','<%=Product.price%>')">
													<a style="color: white;">Wish List</a></button>
													<%}%>

							<script>
								var productimg = document.getElementById("productimg")
								var smallimg = document.getElementsByClassName("small-img")

								smallimg[0].onclick = function () {
									productimg.src = smallimg[0].src
								}
								smallimg[1].onclick = function () {
									productimg.src = smallimg[1].src
								}
								smallimg[2].onclick = function () {
									productimg.src = smallimg[2].src
								}
								smallimg[3].onclick = function () {
									productimg.src = smallimg[3].src
								}

							</script>

<script>
	function towishlist(proId, price) {
		$.ajax({
			url: '/towishlist',
			data: {
				product: proId,
				price: price
			},
			method: 'post',
			success: (Response) => {
				if(Response.incart){
					Swal.fire({
					position: 'top-end',
					icon: 'warning',
					title: 'Already in Cart',
					showConfirmButton: false,
					timer: 700
				})
				} else if(Response.already){
					Swal.fire({
					position: 'top-end',
					icon: 'warning',
					title: 'Already in Wishlist',
					showConfirmButton: false,
					timer: 700
				})
				}
				else if(Response.added){
					Swal.fire({
					position: 'top-end',
					icon: 'success',
					title: 'Item Added to Wishlist',
					showConfirmButton: false,
					timer: 700
				})
				}else if(Response.login){
			Swal.fire({
			position: 'top-end',
			icon: 'info',
			title: 'You Need to Login',
			showConfirmButton: false,
			timer: 700
		})
		}
				
				$('.reloadDiv').load('/shop/productdetail/ .reloadDiv')
			}
		})
	}

</script>





<script>
function tocart(proId, price) {
$.ajax({
	url: '/tocart',
	data: {
		product: proId,
		price: price
	},
	method: 'post',
	success: (Response) => {
		if(Response.alreadyInCart){
			Swal.fire({
			position: 'top-end',
			icon: 'warning',
			title: 'Item Already in Cart',
			showConfirmButton: false,
			timer: 700
		})
		}else if(Response.added){
			Swal.fire({
			position: 'top-end',
			icon: 'success',
			title: 'Item Added to Cart',
			showConfirmButton: false,
			timer: 700
		})
		}else if(Response.login){
			Swal.fire({
			position: 'top-end',
			icon: 'info',
			title: 'You Need to Login',
			showConfirmButton: false,
			timer: 700
		})
		}
		
		$('.reloadDiv').load('/shop/productdetail/ .reloadDiv')
	}
})
}

</script>





							<%- include ('../layout/user/footer.ejs') %>