<%- include ('../layout/user/header.ejs') %>
  <%- include ('../layout/user/navbar.ejs') %>

    <section class="h-100 h-custom" style="background-color: #eee; font-weight: bold;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
              <div class="card-body p-5">
                <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>
                <div class="row">
                  <div class="col mb-3">
                    <p class="small text-muted mb-1">Date</p>
                    <p>
                      <%=order.date.toLocaleDateString() %>
                    </p>
                  </div>
                  <div class="col mb-3">
                    <p class="small text-muted mb-1">Order No.</p>
                    <p>
                      <%=order.orderId%>
                    </p>
                  </div>
                </div>
                <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                  <div class="row">
                    <%order.product.forEach(element=> {%>
                      <div class="col-md-8 col-lg-9">
                        <p>
                          <%= element.productId.productName %> (<%= element.quantity%> X ₹<%= element.singlePrice%>)
                        </p>
                      </div>
                      <div class="col-md-2 col-lg-3">
                        <p>₹<%= element.singleTotal%>
                        </p>
                      </div>
                      <%}); %>
                  </div>
                  <%if(order.discount) {%>
                    <hr>
                  <div class="row">
                    <div class="col-md-8 col-lg-9">
                      <p class="mb-0">Discount</p>
                    </div>                   
                      <div class="col-md-4 col-lg-3">
                        <p class="mb-0">₹<%=order.discount%>
                        </p>
                      </div>
                      <%}%>
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                    <label style="text-decoration: underline;color: #f37a27;">Cart Total</label>
                    <p class="lead fw-bold mb-0" style="color: #f37a27;font-weight: bold;">₹<%=order.total%>
                    </p>
                  </div>
                </div>
                <div class="ml-4 mb-3">
                  <p class="mt-4  pt-2 mb-0"> Go to Orders? <a href="/orderreceipt" style="color: #f37a27;"> Click Here</a>
                </p>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>








    <%- include ('../layout/user/footer.ejs') %>