<%- include ('../layout/user/header.ejs') %>
    <%- include ('../layout/user/navbar.ejs') %>


        <!------ Include the above in your HEAD tag ---------->

        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                       
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">

                            <h1 style="font-weight: 700px;">
                                Hi 👋<%=userData.username%>
                            </h1>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">About</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                            Edit Profile
                        </button>



                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Edit</p>

                            <a href="/UserviewAddressview">View Address</a><br />
                            <a href="/orderreceipt">Orders</a>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: 400px;font-size: 16px;">
                                            <%=userData.email%>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: 400px;font-size: 16px;">
                                            <%=userData.phonenumber%>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-6">
                                        <label style=" font-size: 24px;color:  rgba(3, 171, 3, 0.679);" ><i style="color: orange;" class="fa-solid fa-wallet"></i>Wallet</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: 400px;font-size: 25px;color: rgba(3, 171, 3, 0.679);">
                                            <span style="color: orange;">₹</span><%=userData.wallet%>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                    </div>
                                    
                                        <button style="color: dodgerblue;" type="button" class="btn"
                                            data-toggle="modal" data-target="#static">
                                            Reset Password
                                        </button>



                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <form class="row g-3 needs-validation" novalidate method="post" action="/editedprofile">




                            <div style="color: black; font-weight: 600;" class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <div class="input-group has-validation">
                                    <input type="email" name="email" class="form-control" id="yourUsername"
                                        placeholder="Edit Email" value="<%=userData.email%>" required>
                                    <div class="invalid-feedback">Please enter your Email.</div>
                                </div>
                            </div>

                            <div style="color: black; font-weight: 600;" class="col-12 mb-4">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="text" name="phonenumber" class="form-control" id="yourPassword"
                                    placeholder="Edit Phone" value="<%=userData.phonenumber%>" required>
                                <div class="invalid-feedback">Please enter your Phone Number.</div>
                            </div>






                            <div class="col-12">
                                <button class="btn btn-warning w-100" type="submit">Update</button>
                            </div>

                            <% if(typeof message !=="undefined" ) { %>
                                <h5 style="font-size: 14px;color: brown;">
                                    <%=message %>
                                </h5>
                                <%} %>
                        </form>

                    </div>
                    
                </div>
            </div>
        </div>



        <div class="modal fade" id="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <form class="row g-3 needs-validation" novalidate method="post" action="/resetpassword">

                            <div style="color: black; font-weight: 600;" class="col-12">
                                <label for="email" class="form-label">Old Password</label>
                                <div class="input-group has-validation">
                                    <input type="password" name="oldpassword" class="form-control" id=""
                                        placeholder="Old password" required>
                                    <div class="invalid-feedback">Please Old Password</div>
                                </div>
                            </div>


                            <div style="color: black; font-weight: 600;" class="col-12">
                                <label for="email" class="form-label">New Password</label>
                                <div class="input-group has-validation">
                                    <input type="password" name="newpassword" class="form-control" id=""
                                        placeholder="New password" required>
                                    <div class="invalid-feedback">Please New Password</div>
                                </div>
                            </div>

                           






                            <div class="col-12">
                                <button class="btn btn-warning w-100" type="submit">Comfirm</button>
                            </div>

                            <% if(typeof message !=="undefined" ) { %>
                                <h5 style="font-size: 14px;color: brown;">
                                    <%=message %>
                                </h5>
                                <%} %>
                        </form>

                    </div>
                   
                </div>
            </div>
        </div>


        



        <%- include ('../layout/user/footer.ejs') %>